frontend/Open2Work/android/.gradle/file-system.probe
frontend/Open2Work/android/.gradle/7.5.1/checksums/checksums.lock
frontend/Open2Work/android/.gradle/7.5.1/executionHistory/executionHistory.bin
frontend/Open2Work/android/.gradle/7.5.1/executionHistory/executionHistory.lock
frontend/Open2Work/android/.gradle/7.5.1/fileHashes/fileHashes.bin
frontend/Open2Work/android/.gradle/7.5.1/fileHashes/fileHashes.lock
frontend/Open2Work/android/.gradle/buildOutputCleanup/buildOutputCleanup.lock
frontend/Open2Work/android/app/build/intermediates/incremental/debug/mergeDebugResources/compile-file-map.properties
frontend/Open2Work/android/app/build/intermediates/incremental/debug/mergeDebugResources/merger.xml
frontend/Open2Work/android/app/build/intermediates/incremental/mergeDebugAssets/merger.xml
frontend/Open2Work/android/app/build/intermediates/manifest_merge_blame_file/debug/manifest-merger-blame-debug-report.txt
frontend/Open2Work/android/app/build/intermediates/merged_manifest/debug/AndroidManifest.xml
frontend/Open2Work/android/app/build/intermediates/merged_manifests/debug/AndroidManifest.xml
frontend/Open2Work/android/app/build/intermediates/packaged_manifests/debug/AndroidManifest.xml
frontend/Open2Work/android/app/build/intermediates/source_set_path_map/debug/file-map.txt
frontend/Open2Work/android/app/build/outputs/logs/manifest-merger-debug-report.txt
frontend/Open2Work/node_modules/react-native-gradle-plugin/.gradle/file-system.probe
frontend/Open2Work/node_modules/react-native-gradle-plugin/.gradle/7.5.1/executionHistory/executionHistory.lock
frontend/Open2Work/node_modules/react-native-gradle-plugin/.gradle/buildOutputCleanup/buildOutputCleanup.lock
